@import url(style.css);

body {
  width: 100%;
}

nav {
  text-align: center;
  padding: 10px;
  background: #333;
}

nav a {
  color: #888;
  text-decoration: none;
  margin: 0 0.5em;
}

nav a:hover {
  color: #f3f3f3;
}

main {
  padding: 20px;
  text-align: justify;
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 0.8em;
}

article > header > p {
  font-style: italic;
  font-size: 0.9em;
  text-align: right;
}

figure {
  text-align: center;
  max-width: 90%;
}

figure > img {
  max-width: 100%;
}

/* Larger than phablet */
@media (min-width: 750px) {
  nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 130px;
    padding: 20px;
    text-align: right;
  }
  nav > a {
    display: block;
    margin: 0.5em 0;
  }
  main, footer {
    margin: 0;
    margin-left: 170px;
    max-width: 700px;
  }
  footer {
    position: relative;
  }
}

@media print {
  nav, footer {
    display: none;
  }

  main {
    margin: 0;
  }

  article > header, article > header > p {
    text-align: center;
  }
}

/* Multicolumns when printing with Firefox */
@-moz-document url-prefix() {
  @media print {
    body {
      font-size: 10px;
    }

    article > section.content {
      columns: 2;
      column-gap: 40px;
    }

    p {
      margin: 0 0 2em 0;
    }

    h1, h2, h3 {
      font-family: inherit;
    }
  }
}
