@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(//fonts.googleapis.com/css?family=Raleway:400,300,600); 
@import url(normalize.css);
@import url(skeleton.css);

body {
  line-height: 1.5em;
  font-weight: 200;
  color: #111;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color:#606060;
  letter-spacing:0.01em;
  line-height:1em;
  font-weight:bold; 
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5, h6 { font-size: 1em; }

a { color: #ee6666; }
a:hover { color: #606060; }

/*********
 * Maths *
 *********/

span.math.display {
  display: block;
  text-align: center;
}

ul, p, span.math.display {
  margin: 1em 0;
}

ul ul {
  margin-top: 0.8em;
}

/* Syntax highlight */

code {
  background: #f8f8f8;
  border-style: solid;
  border-width: 1px 1px 1px 4px;
  border-color: #E1E1E1;
  border-radius: 4px;
}

.sourceCode .kw { color: #268BD2; }
.sourceCode .dt { color: #268BD2; }
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
.sourceCode .ch { color: #DC322F; }
.sourceCode .st { color: #2AA198; }
.sourceCode .co { color: #93A1A1; }
.sourceCode .ot { color: #A57800; }
.sourceCode .al { color: #CB4B16; font-weight: bold; }
.sourceCode .fu { color: #268BD2; }
.sourceCode .re { }
.sourceCode .er { color: #D30102; font-weight: bold; }
