<style>
  .profile {
    display: none;
  }

  article {
    margin-top: 10vh;
  }
</style>

<article>
  <header>
    <h1>$title$</h1>
    $if(date)$
    <p><time>$date$</time></p>
    $endif$
  </header>

  <section class="content">
    $body$
  </section>
</article>

<script src="/scripts/katex.min.js" />
<script>
  window.onload = function() {
      var elements = document.getElementsByClassName("math");
      Array.prototype.forEach.call(elements, function(e) {
          var str = e.innerHTML.replace(/&amp;/g, "&")
          katex.render(str, e);
      });
  };
</script>
