<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>$title$ | Simon Guillot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/katex.min.css">
  <link href="/atom.xml" type="application/atom+xml" rel="alternate">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/blog.html">Blog</a>
    <a href="/about.html">About</a>
    <a href="/cv.html">CV</a>
  </nav>
  <div class="profile">
    <img src="/media/avatar.jpg">
    <h1>Simon Guillot</h1>
    <p class="description">
      A man who travels with the address of his blog on his cap
    </p>
    <p class="accounts">
      <a href="/">
        <svg class="icon"><use xlink:href="/media/fa-solid.svg#envelope"/>email</svg>
      </a>
      <a href="https://github.com/notsimon">
        <svg class="icon"><use xlink:href="/media/fa-brands.svg#github-alt"/>github</svg>
      </a>
      <a href="https://m.me/simon.gllt">
        <svg class="icon"><use xlink:href="/media/fa-brands.svg#facebook-messenger"/>messenger</svg>
      </a>
      <a href="/">
        <svg class="icon"><use xlink:href="/media/fa-brands.svg#line"/>line</svg>
      </a>
    </p>
  </div>
  <div class="container">
    <main>
      $body$
    </main>
  </div>
  <footer>
  </footer>
</body>
</html>
