<article>
  <header>
    <h1>$title$</h1>
    $if(date)$
    <p>Posted on <time>$date$</time></p>
    $endif$
  </header>

  $body$
</article>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?delayStartupUntil=configured"></script>
<script>
  // Setup MathJax
  MathJax.Hub.Config({
    config: ["MMLorHTML.js"],
    jax: ["input/AsciiMath","output/HTML-CSS","output/NativeMML", "output/PreviewHTML"],
    extensions: ["asciimath2jax.js","MathMenu.js","MathZoom.js", "fast-preview.js", "AssistiveMML.js", "[Contrib]/a11y/accessibility-menu.js"],
    asciimath2jax: {
      delimiters: [['\\(', '\\)'], ['\\[', '\\]']],
      processClass: ['math']
    },
    AsciiMath: {
      displaystyle: true
    }
  });

  MathJax.Hub.Configured()
</script>
