<!DOCTYPE html>

<meta charset="utf-8">
<title>$title$</title>
<link href="/css/talk.css" rel="stylesheet" type="text/css"></link>
<link href="/css/katex.min.css" rel="stylesheet" type="text/css"></link>

<section id="title" class="inverse">
  <div class="middle center">
    <div class="title">$title$</div>
  $if(subtitle)$
    <div class="subtitle">$subtitle$</div>
  $endif$
    <div class="author">$author$</div>
  </div>
  <div class="date">$date$</div>
</section>

$body$

<div id="progress-bar"></div>

<script src="/scripts/dzslides.js"></script>
<script src="/scripts/katex.min.js"></script>
<script>
  function loadKatex() {
      var elements = document.getElementsByClassName("math");
      Array.prototype.forEach.call(elements, function(e) {
          katex.render(e.innerHTML, e);
      });
  };

  window.onload = function() {
    loadDz();
    loadKatex();
  }
</script>
